* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

footer {
    position:absolute;
    bottom: 0;

    width: 100%;
    min-height: 60px;
    height: auto;

    background: #081F57;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

footer img {
    margin-left: 25px ;
    height: 50px;
}

#links_f {
    margin-right: 25px;
}

.link_f {
    margin: 0 20px;
    font-family: 'Roboto', sans-serif;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%
}

.left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 18%;
    max-width: 70%;
}

p{
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 1000px) {
    footer {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        height: auto;
        padding-bottom: 25px;
    }

    #links_f {
        display: flex;
        flex-direction: column;
    }
    .link_f {
        margin: 0;
        font-family: 'Roboto', sans-serif;
    }
    .left p {
        display: flex;
        flex-direction: column;
    }


  }

  @media only screen and (max-width: 700px) {

}

  @media only screen and (max-width: 400px) {
    footer {
        display: flex;
        flex-direction: column;
    }
  }