h1{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top:2%;
}
.Scoring{
    width: 100%;
    margin-left : -15%;
    margin-top: 4%;
}
.color{
    width: 150px;
    margin-left: 60%; 
    margin-top:-4%;
    
}
.rectangle1{
    width: 150px;
    margin-left:60%;
    margin: top -3%;
    background-color: #77D760;
    color :#77D760;
}
.Location{
    margin-left: -14.5%;
    margin-top: -1.5%;
}
.rectangle2{
    width: 150px;
    margin-left : 60%;
    margin-top :-2%;
    background-color: #77D760;
    height: 30px;
}
.already{
    margin-left:-12.5%;
    margin-top : 10%;

}
.rectangle3{
    width : 150px;
    margin-left: 60%;
    margin-top : -3%;
    background-color: #77D760;
    height: 30px;
}
.mineral_conflict_use{
    margin-left: -11%;
    margin-top: -15%;
}
.rectangle4{
    width : 150px;
    margin-top : -6%;
    margin-left: 60%;
    height: 30px;
    background-color : #F49019;
    ;
    
}
body{
    margin: 0;
    padding: 0;
}
.search-box{
    position: absolute;
    top: 30%;
    left:50%;
    transform: translate(-50%,-50%);
    background: #77D760;
    height: 40px;
    border-radius:40px;
    padding: 10px;

   
}
.search-btn{
    color: white;
    float: right;
    width: 40px;
    height:40px;
    border-radius: 50%;
    background: #77D760;
    display : flex;
    justify-content: center;
    align-items: center;
}